body {
    background-color: rgb(243, 243, 243);
    height: 1080px;   
}
.pwinput {
    background-image: url('/project/images/잠금.JPG');
    background-position:98%; 
    background-repeat:no-repeat;
    border: 1px solid gray;
}
.pw2input {
    background-image: url('/project/images/잠금2.JPG');
    background-position:100%; 
    background-repeat:no-repeat;
    border: 1px solid gray;
}

.loginform {
    width: 800px;
    height: 800px;
    margin-left: 550px;
}
.Loginfield {
    position: relative;
    width: 500px;
    height: 400px;
    border-radius: 4px;
    color: #131A37;
    margin:136px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.Idfield {
    width: 400px;
    height: 40px;
    margin-left: 43px;
    margin-top: 20px;
    border-radius: 5px;
    border-style: solid;
}
.Pwfield {
    width: 400px;
    height: 40px;
    margin-left: 43px;
    margin-top: 20px;
    border-radius: 5px;
    border-style: solid;
}
.LoginBtn {
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: #131A37;
    color: lightgray;
  
}
.SignupBtn {
    border-radius: 5px;
    width: 400px;
    height: 40px;
    margin-left: 45px;
    margin-top: 20px;
    background-color: #131A37;
    color: lightgray;
}
.Logintext {
    margin-left: 40px;
    left: 50px;
    font-size: 30px;
}
.Loginhr {
    margin-top: 20px;
    width: 400px;
}
.Loginul > li {
    list-style: none;
    float: left;
    margin-left: 88px;
    font-size: 13px;
}
.Loginul > li > a {
    text-decoration: none;
    color: #131A37;
}
.Logindiv {
    position: relative;
    float: left;
    width: 460px;
    height: 190px;
    margin: 5px 175px;
    
}
/* 회원가입 시작 */
.Ptext {
    font-size: 50px;
    width: 300px;
    height: 70px;
    position: relative;
    margin-left: 837px;
}
.Ptext>a {
    text-decoration: none;
    color: #131A37;
}
.Signupform {
    width: 800px;
    height: 800px;
    margin-left: 530px;
}
.Signupform>span {
    float: left;
    width: 600px;
    height: 80px;
    position: relative;
    margin-left: 150px;
}
.Signupform h4 {
    position: relative;
    margin: 0;
    clear: both;
    margin-left: 200px;
}
.Signupform>span>input {
    width: 450px;
    height: 40px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 15px;
}
.Signupform>button {
    width: 458px;
    height: 50px;
    margin-left: 200px;
    margin-top: 10px;
    background-color: #131A37;
    color: aliceblue;
    font-size: 25px;
}
.Signupform>span>div {
    width: 150px;
    height: 45px;
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.Signupform>span>div>.Signupbirth {
    position: relative;
    width: 130px;
    height: 40px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
}
.Signupform>span>div>.Signupbirth2 {
    position: relative;
    width: 130px;
    height: 40px;
    margin: 0;
    padding: 0;
}
.Signupform>span>div>.Signupbirthselect {
    position: relative;
    width: 130px;
    height: 44px;
    margin: 0;
    margin-left: 5px;
    padding-left: 5px;
    font-size: 15px;
}
.Signupform>span>.Signupgender {
    width: 460px;
    height: 45px;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 15px;
}
.Signupform>span>.divsignup {
    margin-left: 13px;
}
.loginfooter {
    position: relative;
    width: 800px;
    height: 20px;
    margin-left: 145px;
    margin-top: 20px;
    clear: both;
}
.loginfooter > ul > li {
    list-style: none;
    float: left;
    margin-left: 15px;
}
.loginfooter > ul > li > a {
   font-size: 12px;
   text-decoration: none;
   color: #131A37; 
}
.loginfooterli {
    border-left: 1px solid rgba(128, 128, 128, 0.466);
    padding-left: 13px;
}
.loginaddress {
    position: relative;
    width: 300px;
    height: 90px;
    margin-left: 280px;
    margin-top: 10px;
}
.loginaddress > a {
    font-size: 12px;
    text-decoration: none;
    color: #131A37; 
}
.loginaddress > span {
    font-size: 12px;
    color: #131A37; 
}
.loginfooter2 {
    position: relative;
    width: 800px;
    height: 20px;
    margin-left: 110px;
    margin-top: 20px;
    clear: both;
}
.loginfooter2 > ul > li {
    list-style: none;
    float: left;
    margin-left: 15px;
}
.loginfooter2 > ul > li > a {
   font-size: 12px;
   text-decoration: none;
   color: #131A37; 
}
.loginfooterli2 {
    border-left: 1px solid rgba(128, 128, 128, 0.466);
    padding-left: 13px;
}
.loginaddress2 {
    position: relative;
    width: 300px;
    height: 90px;
    margin-left: 240px;
    margin-top: 10px;
}
.loginaddress2 > a {
    font-size: 12px;
    text-decoration: none;
    color: #131A37; 
}
.loginaddress2 > span {
    font-size: 12px;
    color: #131A37; 
}

/* 회원가입 끝 */