html {
    padding: 0;
    margin: 0;
    background-color: #131A37;
}

body {
    height: 100%;
    margin: 0;
}

#site_total {padding: 0;}
/* 베너 시작 */
.maindiv {
    position: relative;
    text-align: center;
}

.banner {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: white;
    /* overflow: hidden; */
}

.banner ul {            
    position: relative;
    margin: 0px 300px;
    padding: 0;
    list-style: none;
    width: 1300px;
    height: 500px;
    box-sizing: border-box;

}

.banner ul li {
    box-sizing: border-box;
    width: 1300px;
    height: 500px;
    position: relative;
    background-color: white;
}

img {
    position: relative;
    width: 620px;
    height: 360px;
    margin: 60px 10px 60px 10px;
    padding: 0;
}

.bannertemp {
    position: relative;
    float: left;
    width: 620px;
    height: 360px;
    margin: 60px 10px 60px 10px;
    padding: 0;

}

.bannerh2 {
    text-align: left;
    margin: 100px 0px 0px 100px;
    font-size: 35px;
    color: #131a37;
}

.bannerh1 {
    text-align: left;
    margin: 20px 70px 0px 100px;
    font-size: 45px;
    color: #131a37;
}
/* 베너 끝 */
/* 신용딜러 시작 */
.subdealerdiv {
    background-color: #131A37;
    position: relative;
    width: 100%;
    height: 600px;
    margin-top: 150px;
}

.subdiv {
    position: relative;
    width: 1100px;
    height: 500px;
    margin: 50px 450px;
}

.subdiv2 {
    position: absolute;
    width: 400px;
    height: 430px;
    margin: 35px 40px;
}

.subli {
    position: absolute;
    list-style: none;
    right: 50px;
    margin-top: 35px;
    width: 340px;
    height: 440px;
}
.subli img{
    width: 320px;
    height: 430px;
    margin: 0;
}

.span1 {
    position: absolute;
    font-size: 45px;
    margin-top: 100px;
    color: white;
}

.span2 {
    position: absolute;
    font-size: 45px;
    margin-top: 250px;
    color: white;
}

.strong {
    color: chartreuse;
}

/* 메인딜러 시작 */
.all_dealer{
    position: relative;
    border: 0px solid orange;
}
.dealer_section{
    background-color: #303030;
    height: 930px;
}
.main_dealer > h2 {
    text-align: left;
    font-size: 2em;
    color: white;
    padding-left: 23%;
    /* margin-left: 10% */
}
.main_dealer {
    border: 0px solid blue;
    width: 100%;
    display: inline-block;
    position: relative;
}
.main_dealer_picture{
    border: 0px solid yellow;
    height: auto;
    width: 50%;
    margin-left: 23%;
    overflow: hidden;
    background-color: #303030;
    padding: 0;
}
.main_dealer_picture>li {
    border: 0px solid red;
    list-style: none;
    position: relative;
    max-width: 100%;
    float: left;
    /* float: inline-end; */
    /* padding: 0; */
    margin: 1em;
    color: white;
    /* padding: 1em; */
    text-align: left;
    /* margin-right: 10%; */
    font-size: 1em;
}
.main_dealer_picture>li>img {
    height: 300px;
    width: 280px;
    margin: 0;
}
.sub_dealer {
    border: 0px solid green;
    display: inline-block;
    position: relative;
    width: 100%;
    /* top: 50px; */
}
.sub_list>li {
    border: 0px solid purple;
    list-style: none;
    float: left;
    width: 10%;
    height: 10%;
    margin-left: 4%;
    font-size: .7em;
}
.more_dealer {
    border: 3px solid antiquewhite;
    font-size: 1.6em;
    text-align: center;
    width: 180px;
    height: 30px;
    padding: 0.6em;
    padding-top: 0.3em;
    margin-left: 43%;
    margin-top: 25px;
    margin-bottom: 25px;
}
.dealer_crown{
    width: 40px;
    height: 50px;
    margin: 0;
}
.sub_list{
    display: block;
    list-style-type: disc;
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* padding-inline-start: 100px; */
    margin-left: 17%;
    color: white;
    text-align: center;
}
.sub_list>li>img{
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
}
.dealer_word > p{
    border: 0px solid red;
    width: 300px;
}
.more_dealer>img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 5px;
    margin: 0;
}
.more_dealer>span{
    position:relative;
    color: white;
    font-size: .9em;
}
.dealer_word > span {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 0px solid red;
}
/* 메인딜러 끝 */
/* 인기차량 시작 */
#hotCar{
    background-color: #0f1429;
}
#hotTitle1{
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 40px;
}
#hotTitle1 > span{
    margin-left: 245px;
}
#hotTitle1 img{
    position: relative;
    width: 200px;
    height: 150px;
    margin: 0 0 0 30px;
    top: 50px;
}
#hotTitle2{
    text-align: center;
    color: gray;
    margin-bottom: 40px;
    padding-right: 5px;
    font-size: 20px;
}
#carList{
    text-align: center;
    margin-bottom: 40px;
}
#carList > ul{
    display:inline-block;
}
#carList .carImg{
    list-style: none;
}

#carList > ul > li{
    list-style: none;
    color: white;
    
}
#carList > ul > li > img{
    width: 233px;
    height: 174px;
    margin: 10px;
}
#carList .carInfo{
    color: rgb(165, 165, 165);
}
#carList .carPrice{
    color: skyblue;
}
#more{
    width: 100%;
    text-align: center;
}
#more > a> h3{
    display: inline-block;
    text-align: center;
    width: 230px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    color: white;
    padding-top: 15px;
    margin-bottom: 60px;
}
#more > a{
    text-decoration: none;
    color: white;
}

/* 인기 차량 끝 */
/* 메인 뉴스 시작 */
.news_section{
    border: 0px solid red;
    width: 100%;
}
.news_Alldiv>h2{
    color: white;
    text-align: center;
}
.news_list{
    font-size: .8em;
    margin: 0;
    padding-left: 5%;
}
.news_des{
    margin: 0;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 1.3em;
}
a{
    cursor: pointer;
    text-decoration:none;
    color: white;
}
.news_img{
     width: 2%;
     height: 4%;
     margin: 0;
}
.news_ul{
    border: 0px solid blue;
    overflow: hidden;
    padding-left: 15%;
}
.news_ul>li{
    border: 1px solid rgb(59, 59, 59);
    list-style: none;
    position: relative;
    float: left;
    width: 40%;
    box-sizing: border-box;
    border-radius: 5px;
    margin: .5%;
    /* box-shadow: .1px .1px .1px gray; */
}
.news_ul img{
    margin: 0;
}
.news_photo >img{
    width: 25%;
    height: 40%;
    float: right;
    border-radius: 5px;
    margin-bottom: 6%;
    margin-right: 6%;
    margin-left: 6%;
}
.news_more{
    border: 1px solid white;
    width: 200px;
    height: auto;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    margin-left: 43%;
    padding: .5em;
}
.news_moreimg{
    width: 10%;
    height: 10%;
    vertical-align: middle;
    margin: 0;
    margin-top: -5px;
}
/* 메인 뉴스 끝 */