html{
    width: 1800px;
    background:-webkit-gradient(linear, 56% 87%, 57% 11%, from(#E1FFFF), to(#FFFFFF));
}
body {
    user-select: none;
    margin-left: 200px;
}
hr{
    width: 100%;
}
#main{
    width: 1700px;
    overflow: hidden;
}
#list {
    border: 1px solid gray;
    width: 180px;
    float: left;
    margin-top: 35px;
}

#list ul {
    margin: 0;
    padding: 10px;
    border-bottom: 0.5px solid gray;
    width: 160px;
}

#list li {
    list-style: none;
    display: none;
}

#end {
    border: none;
}

#end>li {
    display: inline;
}

#list b {
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
}
#list b:hover {
    text-decoration: underline
}
iframe{
    float: left;
}