html{
    width: 1800px;
    background:white
}
body {
    user-select: none;
    margin-left: 200px;
}
hr{
    width: 100%;
}
#main{
    width: 1700px;
    overflow: hidden;
}
#list {
    border: 1px solid gray;
    width: 180px;
    float: left;
    margin-top: 35px;
}

#list ul {
    margin: 0;
    padding: 10px;
    border-bottom: 0.5px solid gray;
    width: 160px;
}

#list li {
    list-style: none;
    display: none;
}

#end {
    border: none;
}

#end>li {
    display: inline;
}

#list b {
    display: block;
    cursor: pointer;
    padding-bottom: 10px;
}
#list b:hover {
    text-decoration: underline
}
iframe{
    float: left;
}

/* 퀵메뉴 시작 */

#quick_buy {
    background-color: c8c8c8;
    position: fixed;
    width: 70px;
    display: inline-block;
    color: black;
    height: 30px;
    right: 44px;
    top: 57%;
    z-index: 50;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-weight: bold;
}

#quick_bullet {
    background-color: c8c8c8;
    position: fixed;
    width: 70px;
    display: inline-block;
    color: black;
    height: 23px;
    right: 44px;
    top: 60.5%;
    z-index: 50;
    text-align: center;
    border-bottom: 1px dotted black;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

#quick_sell {
    background-color: #c8c8c8;
    border-bottom: 1px dotted black;
    position: fixed;
    width: 78px;
    display: inline-block;
    color: black;
    height: 34px;
    right: 38.5px;
    top: 63.5%;
    z-index: 50;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#quick_base {
    width: 80px;
    height: 175px;
    position:fixed;
    display: inline-block;
    right:38px;
    top: 50%;
    z-index: 50;
}

/* 퀵메뉴 종료 */

/* 탑메뉴로 돌아가기 시작*/
#ToTheTop {
    margin: 0;
    padding: 0px;
    width: 54px;
    height: 54px;
    position:fixed;
    display: inline-block;
    right:52px;
    top: 51%;
    z-index: 51;
    
}
/*탑메뉴로 돌아가기 끝*/